*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,body{
    background: #faf9fc;
    height: 100%;
}

.clear{
    clear: both;
}

/**********/

div.sidebar{
    width: 270px;
    background: #2d3035;
    height: 100%;
    float: left;
}

div.topo{
    background: #26282d;
    text-align: center;
    padding: 20px 10px;
}

div.topo h3{
    color: white;
}

div.menu{
    padding: 30px;
}

div.menu ul{
    list-style-type: none;
}

div.menu li{
    margin-bottom: 20px;
}

div.menu ul li a,
div.menu ul li i{
    color: #717171;
    text-decoration: none;
    font-size: 18px;
}

div.menu ul li a{
    margin-left: 8px;
}

div.menu ul li.baixo{
    position: absolute;
    bottom: 20px;
}

div.menu li:hover i{
    color: #6d3bbb;
    transition: 0.6s;
}

div.menu li:hover a{
    color: white;
    transition: 0.6s;
}

/* FIM DA SIDEBAR */

div.main{
    float: left;
    width: calc(100% - 270px);
    height: 100%;
}

header{
    background: white;
    padding: 20px 15px;
    border-bottom: 2px solid #ccc;
}

.pesquisa{
    float: right;
}

.icone{
    background: #d6d6d6;
    width: 30px;
    height: 30px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.icone i{
    position: relative;
    top: 6px;
}

.pesquisa form{
    display: inline-block;
    vertical-align: middle;
}

.pesquisa input[type=text]{
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: 0;
    padding-left: 10px;
    font-size: 16px;
}

.pesquisa input[type=text]:focus{
    outline: 0;
}

.alerta{
    float: right;
    margin-right: 28px;
    background: #fbedef;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.alerta p{
    position: absolute;
    left: -8px;
    top: -8px;
    display: inline-block;
    background: #ed7387;
    color: white;
    padding: 3px;
    font-size: 12px;
}

.alerta i{
    color: #ed7387;
    font-weight: bold;
    font-weight: 18px;
    line-height: 30px;
}

.nome{
    float: right;
    margin-right: 100px;
}

.nome h2{
    font-weight: normal;
    font-size: 18px;
    color: #a7a7a7;
    margin-top: 5px;
}

.con1{
    float: left;
    width: 70%;
    padding: 30px;
}

.panel{
    width: 100%;
    float: left;
    background: white;
    border: 2px solid #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
}

.panel h2{
    color: #7f7f7f;
    font-weight: normal;
    font-size: 24px;
}

.panel p{
    color: #b2b2b2;
    font-size: 17px;
    margin-top: 10px;
}